<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#" (click) = "onSelect('recipe')">Recipe Book</a></li>
      <li><a href="#" (click) = "onSelect('Shopping-List')">Shopping List</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" role="button">profile<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Get Data</a></li>
          <li><a href="#">Fetch Data</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>