<div class="row">
  <div class="col-md-6">
    <app-recipe-detail *ngIf="recipeToUse; else inputText" [RecipeSelected]="recipeToUse"></app-recipe-detail>
    <ng-template #inputText>
      <p>
        Please select a Recipe!
      </p>
    </ng-template>
  </div>
  <div class="col-md-6">
    <app-recipelist (recipeItemSelected)="recipeToUse = $event"></app-recipelist>
  </div>
</div>