<app-header
  (featureSelect)="onFeatureSelected($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipe *ngIf="loadedFeature === 'recipe'"></app-recipe>
      <app-shoppinglist *ngIf="loadedFeature !== 'recipe'"></app-shoppinglist>
    </div>
  </div>
</div>