<div class="row">
  <div class="col-xs-12">
    <img src="{{RecipeSelected.imagePath}}" alt="{{RecipeSelected.name}}" class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{RecipeSelected.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">To Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{RecipeSelected.description}}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    Recipe Ingredients
  </div>
</div>