<a href="#" class="list-group-item clearfix" (click)="onItemClick()">
    <div class="pull-left">
        <img src="{{recipe.imagePath}}" alt="" class="img-responsive" style="max-width: 50px;">
    </div>
    <div class="pull-right">
        <h4 class="list-group-item-heading">{{recipe.name}}</h4>
        <p class="list-group-item-text">{{recipe.description}}</p>
    </div>

</a>